@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="GiaiPhuongTrinhBacMot">
    <p>
        <label>He so A: </label>
        <input type="text" name="heSoA" />
        <label>He so B: </label>
        <input type="text" name="heSoB" />
        <br />
        <input type="submit" value="tinh gia tri" />
    </p>
</form>
